<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Github Notes</title>

	<link rel="stylesheet" href="styles/main.scss">
</head>
<body>
	<div id="vue" class="github-notes">
		<header class="main-header">
			<h1 class="main-header__title">Github notes</h1>
			<figure class="user-info" v-if="$store.state.user">
				<picture class="user-info__avatar"><img :src="$store.state.user.avatar_url" alt="Profile picture"></picture>
				<figcaption class="user-info__name" v-html="$store.state.user.login"></figcaption>
			</figure>
		</header>

		<div class="main-body">
			<aside class="main-sidebar">
				<ul class="file-list" v-if="$store.state.gist">
					<router-link tag="li" :to="'/files/'+filename" :key="filename" :class="opened == filename && 'is-active'" v-for="(file, filename) in $store.state.gist.files" v-html="filename"></router-link>
				</ul>
				<router-link tag="button" :to="'/files/create'" class="main-sidebar__add">Add new</router-link>
			</aside>
			<main class="main-content">
				<router-view></router-view>
			</main>
		</div>
	</div>

	<div style="display: none !important">

		<!-- Empty page template -->
		<div id="template--empty">
			<div>
				<div class="main-content__empty">Nothing selected</div>
			</div>
		</div>

		<!-- List page template -->
		<div id="template--list">
			<div>
				<div v-if="$root.opened == null" class="main-content__empty">Nothing selected</div>
				<div v-else class="file-item">
					<div class="file-item__body" v-if="$root.selected">
						<div class="file-item__header">
							<h2 class="file-item__name" v-html="$root.selected.filename"></h2>
							<div class="file-item__buttons">
								<router-link tag="button" :to="'/files/'+$root.selected.filename+'/edit'" class="btn btn--positive">Edit</router-link>
								<button @click="removeFile($root.selected)" class="btn btn--negative">Delete</button>
							</div>
						</div>
						<div class="file-item__content">
							<pre v-html="$root.selected.content"></pre>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Edit page template -->
		<div id="template--edit">
			<div class="file-edit" v-if="file">
				<h2 class="file-edit__name" v-html="file.filename"></h2>
				<textarea class="file-edit__content" v-model="file.content"></textarea>
				<div class="file-edit__buttons">
					<button @click="saveFile" class="btn btn--positive">Save</button>
				</div>
			</div>
		</div>

		<!-- Create page template -->
		<div id="template--create">
			<div class="file-edit">
				<h2 class="file-edit__name">
					<input v-model="form.filename" type="text" placeholder="filename.ext">
				</h2>
				<textarea class="file-edit__content" v-model="form.content"></textarea>
				<div class="file-edit__buttons">
					<button @click="saveFile" class="btn btn--positive">Save</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.1.1/vuex.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.1.3/vue-router.min.js"></script>

	<script src="scripts/app.js"></script>
</body>
</html>