.file-item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  h2 {
    margin-top: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-content > div {
  width: 100%;
}

.main-content__empty {
  min-height: 400px;
}

.file-edit {
  padding: 15px;
  width: calc(100% - 300px);

  &__header {
    align-items: center;
    background-color: #e7e7e7;
    display: flex;
    padding: 10px;
  }

  &__buttons {
    margin-left: auto;
  }

  &__name {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;

    input {
      width: 100%;
    }
  }

  &__body {
    border: 1px solid #e7e7e7;
  }

  &__content {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    pre {
      margin: 0;
    }
  }
}