.file-item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.file-item h2 {
  margin-top: 0;
}

.file-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content > div {
  width: 100%;
}

.main-content__empty {
  min-height: 400px;
}

.file-edit {
  padding: 15px;
  width: calc(100% - 300px);
}

.file-edit__header {
  align-items: center;
  background-color: #e7e7e7;
  display: flex;
  padding: 10px;
}

.file-edit__buttons {
  margin-left: auto;
}

.file-edit__name {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.file-edit__name input {
  width: 100%;
}

.file-edit__body {
  border: 1px solid #e7e7e7;
}

.file-edit__content {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.file-edit__content pre {
  margin: 0;
}
